{# _hostel-app/templates/home/public_links.html_ #}

{% extends "layout.html" %}
{% block body %}
<center><h1 style="color: #ccc;">Public Links</h1></center>

<br/>
These links can be accessed by general public and their visiblity can be controlled by admin -
<ul>
    {% for control in controls %}
    <li>
        <a href="{{ url_for('public.' + control.name.lower()) }}" target="_blank">{{ control.name }} form</a>
        <i class="fa fa-external-link-alt"></i>
    </li><br/>
    {% endfor %}
    <!--<li><a href="../feedback.php">Feedback form</a> <i class="fa fa-external-link-alt"></i></li><br/>-->
    <!--<li><a href="../checkstatus.php" target="_blank">Allotment Status</a> <i class="fa fa-external-link-alt"></i></li>-->
</ul>
{% endblock %}