{# _hostel-app/templates/home/search.html_ #}

{% extends "layout.html" %}
{% block body %}
<center><h2 style="color:#ccc">Search</h2></center>
<br/>

<form action="{{ url_for('home.search') }}" method="get" name="main">

    Search By:<br><br>

    <select name="column_name">
        <option value="" disabled selected>Select Domain</option>
        {% for column in columns %}
        <option value="{{ column.name }}">{{ column.name|replace('_', ' ')|title }}</option>
        {% endfor %}
    </select>
    &nbsp;&nbsp;&nbsp;
    Enter Query: <input type="text" name="query"/>
    &nbsp;&nbsp;&nbsp;
    <input type="checkbox" name="allotted"/>&nbsp;&nbsp;Search only among allotted students
    &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Search"/>
</form>

<br/>
{% if request.args %}
{{
component.student_data_table(students,
    request.args.get('column_name')|default('', true) + ' = ' + request.args.get('query') +
    '<br/> Allotted: ' + request.args.get('allotted')|default('NA', true))
}}
{% endif %}

{% endblock %}