# hostel-app/config.py
# Rename this file to config.py
# For more - https://pythonhosted.org/Flask-Security/configuration.html

DEBUG = True
SECRET_KEY = ''
SQLALCHEMY_ECHO = True
SQLALCHEMY_DATABASE_URI = 'sqlite:///hostel-app.sqlite3'
SQLALCHEMY_TRACK_MODIFICATIONS = False
SECURITY_PASSWORD_SALT = ''