{# _hostel-app/templates/room/index.html_ #}

{% extends "layout.html" %}
{% block body %}
<center><h1 style='color:#ccc;'>Hostel Room Management</h1></center><br/><br/>
<table width=100%>
    <tr>
        <td style="text-align:right;">
            <h3>
                <a href="" target="_blank" onclick="return popitup(&#39;{{ url_for('room.add') }}&#39;)">+ Add Rooms</a>
            </h3>
        </td>
    </tr>
</table>

{% for hostel_name, room_list in rooms.items() %}
<h2 style='color:#8AC4FF;'>{{ hostel_name }} | Count - {{ room_list|length }}</h2>
<hr>
<table width=100%>
    <tr>
        <th>Room No.</th>
        <th>Hostel</th>
        <th>Room Capacity</th>
        <th>Alloted</th>
        <th>Actions</th>
    </tr>
    {% for hostel, room_no, capacity, occupants in room_list %}
    <tr>
        <td>{{ room_no }}</td>
        <td>{{ hostel }}</td>
        <td>{{ capacity }}</td>
        <td>{% if capacity == occupants %}
            <img src="{{ url_for('static', filename='img/accept.png') }}" alt="verified" name="verified"/>
            {% else %}
            <img src="{{ url_for('static', filename='img/exclamation.png') }}" alt="not verified" name="not verified"/>
            {% endif %}
        </td>
        <td>
            <a href="" target="_blank"
               onclick="return popitup(&#39;{{ url_for('room.edit', room_no=room_no, hostel=hostel) }}&#39;)">
                Edit Details</a>
            |
            <a href="javascript:void(0);" onClick="delRoomByname('{{ room_no }}', '{{ hostel }}');">
                Delete Room</a>

        </td>
    </tr>
    {% endfor %}
</table>
<hr>
<br>
{% endfor %}


{% endblock %}