<!DOCTYPE html>

{# _hostel-app/templates/layout.html_ #}

<html>
<head>
    <title>Admin : Hostels Management System</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="header">
    <h1>Admin : Hostels Management System</h1>
</div>
<div id="main">
    <div class="menu">
        <ul>
            <li><a href="{{ url_for('public.logout') }}">Logout</a></li>
            <li><a href="hostel_room_management.php">Manage Rooms</a></li>
            <li><a href="verified_application_index.php">Verified Applications</a></li>
            <li><a href="all_filtered_view.php">All Applications</a></li>
            <li><a href="{{ url_for('home.search') }}">Search</a></li>
            <li><a href="{{ url_for('home.index') }}">Home</a></li>
        </ul>
        <br style="clear:left"/>
    </div>
    {% block body %} {% endblock %}
</div>
<div id="footer">All rights reserved. Copyrights &copy; 2018.</div>
</body>
</html>