body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}


.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto; 
}

.header {
	height:150px;
	background: #ADB96E;
}


.content {

	padding: 10px 10px;
}



.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
-->